@import 'npm:@fontsource-variable/jetbrains-mono/wght-italic.css';
@import 'npm:@fontsource-variable/jetbrains-mono';
@import 'npm:@fontsource/source-sans-pro/200-italic.css';
@import 'npm:@fontsource/source-sans-pro/300-italic.css';
@import 'npm:@fontsource/source-sans-pro/400-italic.css';
@import 'npm:@fontsource/source-sans-pro/600-italic.css';
@import 'npm:@fontsource/source-sans-pro/700-italic.css';
@import 'npm:@fontsource/source-sans-pro/900-italic.css';
@import 'npm:@fontsource/source-sans-pro/200.css';
@import 'npm:@fontsource/source-sans-pro/300.css';
@import 'npm:@fontsource/source-sans-pro/400.css';
@import 'npm:@fontsource/source-sans-pro/600.css';
@import 'npm:@fontsource/source-sans-pro/700.css';
@import 'npm:@fontsource/source-sans-pro/900.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply font-sans dark:bg-dark0 bg-l_base text-l_text dark:text-light0 leading-relaxed
    }
    p {
        @apply mt-0.5
    }
    a {
        @apply dark:text-neutral_yellow hover:dark:text-bright_yellow visited:dark:text-faded_yellow text-l_blue hover:text-l_sky visited:text-l_lavender
    }
    h1 {
        @apply pt-2 pb-1 font-semibold text-2xl text-l_subtext0 dark:text-light1
    }
    h2 {
        @apply pt-2 pb-1 font-semibold text-xl dark:text-bright_orange text-neutral_orange
    }
    h3 {
        @apply pt-2 pb-1 font-semibold text-lg dark:text-bright_orange text-neutral_orange
    }
    h4 {
        @apply pt-2 pb-1 font-semibold text-base dark:text-bright_orange text-neutral_orange
    }
    hr {
        @apply pt-2 pb-1 

    }
    ul {
        @apply list-disc pl-6
    }
    ol {
        @apply list-decimal pl-11
    }
    hr {
      @apply my-2
    }
    code { @apply text-l_text font-mono text-sm dark:text-light1 bg-l_surface0 dark:bg-dark1 p-0.5 }
}
    .chroma code { width: 0; height: 0; margin: 0; padding: 0; } /* Created by the code formatter, but i don't want it */
    /* Background */ .chroma { @apply text-l_text dark:text-light1 bg-l_crust dark:bg-dark0_soft px-2 py-2 my-2 overflow-x-auto max-w-full }
    /* Error */ .chroma .err { color: #ff0000 }
    /* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
    /* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; }
    /* LineHighlight */ .chroma .hl { background-color: #191919 }
    /* LineNumbersTable */ .chroma .lnt { white-space: pre; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #727272 }
    /* LineNumbers */ .chroma .ln { white-space: pre; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #727272 }
    /* Line */ .chroma .line { display: flex; }
    /* Keyword */ .chroma .k { @apply font-bold text-l_mauve dark:text-bright_orange }
    /* KeywordConstant */ .chroma .kc { @apply text-l_mauve dark:text-bright_orange }
    /* KeywordDeclaration */ .chroma .kd { @apply text-l_mauve dark:text-bright_orange }
    /* KeywordNamespace */ .chroma .kn { @apply text-l_mauve dark:text-bright_orange }
    /* KeywordPseudo */ .chroma .kp { @apply text-l_mauve dark:text-bright_orange }
    /* KeywordReserved */ .chroma .kr { @apply text-l_mauve dark:text-bright_orange }
    /* KeywordType */ .chroma .kt { @apply text-l_mauve dark:text-bright_yellow }
    /* NameAttribute */ .chroma .na { @apply font-bold text-l_green dark:text-bright_green }
    /* NameBuiltin */ .chroma .nb { @apply text-l_mauve dark:text-bright_yellow }
    /* NameTag */ .chroma .nt { @apply text-l_yellow dark:text-bright_red }
    /* LiteralDate */ .chroma .ld { @apply text-l_green dark:text-bright_green }
    /* LiteralString */ .chroma .s { @apply text-l_green dark:text-bright_green }
    /* LiteralStringAffix */ .chroma .sa { @apply text-l_green dark:text-bright_green }
    /* LiteralStringBacktick */ .chroma .sb { @apply text-l_green dark:text-bright_green }
    /* LiteralStringChar */ .chroma .sc { @apply text-l_green dark:text-bright_green }
    /* LiteralStringDelimiter */ .chroma .dl { @apply text-l_green dark:text-bright_green }
    /* LiteralStringDoc */ .chroma .sd { @apply text-l_green dark:text-bright_green }
    /* LiteralStringDouble */ .chroma .s2 { @apply text-l_green dark:text-bright_green }
    /* LiteralStringEscape */ .chroma .se { @apply text-l_green dark:text-bright_green }
    /* LiteralStringHeredoc */ .chroma .sh { @apply text-l_green dark:text-bright_green }
    /* LiteralStringInterpol */ .chroma .si { @apply text-l_green dark:text-bright_green }
    /* LiteralStringOther */ .chroma .sx { @apply text-l_green dark:text-bright_green }
    /* LiteralStringRegex */ .chroma .sr { @apply text-l_green dark:text-bright_green }
    /* LiteralStringSingle */ .chroma .s1 { @apply text-l_green dark:text-bright_green }
    /* LiteralStringSymbol */ .chroma .ss { @apply text-faded_blue dark:text-bright_blue }
    /* LiteralNumber */ .chroma .m { @apply text-l_peach dark:text-bright_purple }
    /* LiteralNumberBin */ .chroma .mb { @apply text-l_peach dark:text-bright_purple }
    /* LiteralNumberFloat */ .chroma .mf { @apply text-l_peach dark:text-bright_purple }
    /* LiteralNumberHex */ .chroma .mh { @apply text-l_peach dark:text-bright_purple }
    /* LiteralNumberInteger */ .chroma .mi { @apply text-l_peach dark:text-bright_purple }
    /* LiteralNumberIntegerLong */ .chroma .il { @apply text-l_peach dark:text-bright_purple }
    /* LiteralNumberOct */ .chroma .mo { @apply text-l_peach dark:text-bright_purple }
    /* Comment */ .chroma .c { @apply italic text-l_subtext0 dark:text-gray }
    /* CommentHashbang */ .chroma .ch { @apply italic text-l_subtext0 dark:text-gray }
    /* CommentMultiline */ .chroma .cm { @apply italic text-l_subtext0 dark:text-gray }
    /* CommentSingle */ .chroma .c1 { @apply italic text-l_subtext0 dark:text-gray }
    /* CommentSpecial */ .chroma .cs { @apply italic text-l_subtext0 dark:text-gray }
    /* CommentPreproc */ .chroma .cp { @apply italic text-l_subtext0 dark:text-bright_aqua }
    /* CommentPreprocFile */ .chroma .cpf { @apply italic text-l_subtext0 dark:text-bright_aqua }
    /* GenericHeading */ .chroma .gh { @apply font-bold text-l_subtext0 dark:text-bright_green }
    /* GenericStrong */ .chroma .gs { @apply dark:text-light1 text-l_subtext0 }
    /* GenericSubheading */ .chroma .gu { @apply font-bold text-l_subtext0 dark:text-bright_green }
    /* GenericUnderline */ .chroma .gl { text-decoration: underline }
